.dot {
  width: 30px;
  height: 33px;
  position: absolute;
  background: url(../images/sprite.png);
  background-position-x: -408px;
}
.cross {
  width: 31px;
  height: 33px;
  position: absolute;
  background: url(../images/sprite.png);
  background-position-x: -408px;
  background-position-y: -50px;
}
