.menu {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
  width: 350px;
  padding-left: 15px;
}
.start-game-btn {
  margin: 17px auto 10px;
  width: 145px;
  height: 46px;
  background: url(../images/sprite.png) no-repeat;
  background-position-y: -150px;
  font-size: 20px;
  color: blue;
}
.placeShipBtn {
  width: 250px;
  padding-bottom: 1px;
  text-align: left;
  font-size: 23px;
  border-bottom: dashed 2px blue;
  background: none;
  margin-top: 25px;
}
.checkingShipsField {
  width: 400px;
  margin: 72px 0 0 23px;
}
.instructions {
  font-size: 23px;
  margin-top: 10px;
}
.instructions p {
  line-height: 33px;
}
