.startGameField {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
}
.menu {
  width: 350px;
  padding-left: 15px;
}
.start-game-btn {
  margin: 82px auto 10px;
  width: 145px;
  height: 46px;
  background: url(../images/sprite.png) no-repeat;
  background-position-y: -150px;
  font-size: 20px;
  color: blue;
}
.placeShipBtn {
  width: 250px;
  padding-bottom: 1px;
  text-align: left;
  font-size: 23px;
  border-bottom: dashed 2px blue;
  background: none;
  margin-top: 25px;
}
.checkingShipsField {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  margin: 51px 0 0 ;
}
