.ship {
  height: 35px;
  margin-top: 25px;
  background: url('../images/sprite.png');
}
.fourdeck1 {
  width: 135px;
  margin-left: 30px;
  margin-bottom: 5px;
}
.threedeck1,
.threedeck2 {
  width: 101px;
  margin-left: 28px;
  background-position-x: -150px;
}
.twodeck1,
.twodeck2,
.twodeck3 {
  width: 70px;
  margin-left: 30px;
  margin-bottom: 5px;
  background-position-x: -270px;
}
.twodeck3 {
  margin-left: 28px;
}
.onedeck1,
.onedeck2,
.onedeck3,
.onedeck4 {
  width: 35px;
  margin-left: 30px;
  background-position-x: -360px;
}
.battleShip {
  margin: 0;
  position: absolute;
  background-position-y: -50px;
}
.rotate {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
