* {
  margin: 0;
  padding: 0;
}
.gameField {
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 106px 0 0 105px;
  background: url('images/grid.png');
}
.battleFieldWrap {
  display: flex;
}
.battleField {
  width: 335px;
  height: 335px;
  padding: 25px 0 0 27px;
  background: url('images/bg_play_field.png') no-repeat;
}
.battleField:last-child {
  margin-left: 95px;
}
.shipField {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin-right: 10%;
}
