*{
  margin: 0;
  padding: 0;
}
@font-face {
	font-family: 'EuroScript';
	src: url(fonts/EuroScript.ttf)  format('truetype');
	font-weight: normal;
	font-style: normal;
}
body, button{
  font-family: EuroScript;
  color: blue;
}
.header{
  height: 51px;
}
h1{
  font-size: 30px;
  font-weight: 400;
}
button{
  border: none;
  outline: none;
  color: blue;
  &:hover{
    cursor: pointer;
  }
}
.gameField{
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 0;
  padding: 60px 0 0 105px;
  background: url(images/grid.png);
}
.fieldsContainer {
  display: flex;
}
.battleField{
  width: 340px;
  height: 340px;
  margin-top: 45px;
  padding: 28px 0 0 28px;
  background: url(images/bg_play_field.png) no-repeat;
  &:last-child{
    margin-left: 94px;
  }
}
